 .container_elements_enter{
    display: flex;
    padding-top:15px;
    flex-direction: column;
    height: 100%;
}

 .container{
     display: flex;
     flex-direction: column;
     height: 105px;
     justify-content: center;
     position: relative;
 }

 .input_container{
     height: 40px;
     display: flex;
     flex-direction: column;
     justify-content: end;
 }

 .error_email{
     height: 35px;
     position: absolute;
     bottom: 0px;
     color: red;
 }

 .input_enter{
     width: 100%;
     height: 30px;
     font-size: 20px;
     border: none;
     border-bottom: 1px solid;
     outline: none;
 }

 .input_enter:hover{
     border-bottom: 1px solid navajowhite;
 }

 .button_container{
     height: 40px;
     display: flex;
     justify-content: center;
 }
 .button_enter{
     font-size: 20px;
     color: white;
     width: 250px;
     border-radius: 15px;
     cursor: pointer;
     border: none;
     background-color: darkgrey;

 }

 .button_active{
     background-color:#ff9100;;
 }
 .button_active:active{
     background-color: #ffae00;
 }

 .container_elements_registration{
     display: flex;
     flex-direction: column;
     height: 100%;
     padding-top:15px;
 }